In [40]:
import nltk, re, pprint
from nltk import word_tokenize
import urllib2
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from textblob import TextBlob
import sys #figure out what i need from this
import csv

In [41]:
raw = open('wizardofoz_clean.txt').read().decode('utf8')

In [3]:
type(raw)

unicode

In [4]:
len(raw)

205533

Use TextBlob to tokenize the raw text into sentences.

In [5]:
wizard = TextBlob(raw)

In [6]:
wizard_sentences = wizard.sentences

In [7]:
len(wizard_sentences)

2216

In [8]:
print wizard_sentences[2210:]

[Sentence("she cried, folding the little girl in her arms and
covering her face with kisses."), Sentence(""Where in the world did you come from?""), Sentence(""From the Land of Oz," said Dorothy gravely."), Sentence(""And here is Toto, too."), Sentence("And oh, Aunt Em!"), Sentence("I'm so glad to be at home again!"")]

Create csv file and add the sentences in a column.

In [11]:
wizardWriter = csv.writer(open('wizard_of_oz2.csv', 'w'), delimiter=',')

for sentence in wizard.sentences:
    wizardWriter.writerow([sentence])

Create dataframe using pandas.

In [12]:
df_wizard = pd.read_csv('wizard_of_oz2.csv', header=None)

In [29]:
df_wizard.head()

                                                   0
0  Dorothy lived in the midst of the great Kansas...
1  Their\nhouse was small, for the lumber to buil...
2  There were four walls, a floor and a roof, whi...
3  Uncle Henry\nand Aunt Em had a big bed in one ...
4  There was no garret at all, and no cellar--exc...

In [13]:
df_wizard.rename(columns={ 0 : 'Sentences'}, inplace=True)

In [14]:
df_wizard.head()

                                           Sentences
0  Dorothy lived in the midst of the great Kansas...
1  Their\nhouse was small, for the lumber to buil...
2  There were four walls, a floor and a roof, whi...
3  Uncle Henry\nand Aunt Em had a big bed in one ...
4  There was no garret at all, and no cellar--exc...

In [15]:
df_wizard.tail()

                                         Sentences
2211       "Where in the world did you come from?"
2212  "From the Land of Oz," said Dorothy gravely.
2213                       "And here is Toto, too.
2214                              And oh, Aunt Em!
2215             I'm so glad to be at home again!"

Function that creates two lists that will be added to the database as columns. wrd_length contains a list of lists that contain the word length in characters of each word in the sentence. total_char contains the sum number of charactes in the sentence.

In [16]:
wrd_length = []
total_char = []

def wrd_char_counts(sentence):
    total_chars = 0 #characters in the sentence
    wrd_counts = [] # number of char per word in sentence
    for word in sentence:
        wrd = word
        char_count = len(wrd)
        wrd_counts.append(char_count)
        total_chars += char_count
    total_char.append(total_chars)
    wrd_length.append(wrd_counts)

This loop iterates through each sentence in the database and passes each sentence through TextBlob to be tokenized into words and then passes the sentences with its words through the wrd_char_counts function.

In [17]:
for l in df_wizard['Sentences']:
    sent = TextBlob(l)
    wrd_char_counts(sent.words)

In [18]:
wrd_length[200:205]

[[3, 4, 6, 2, 4, 3, 4, 4, 3, 6, 5, 4, 3, 6, 3, 4, 2, 4, 2, 4, 4, 3, 5],
 [2, 4, 6, 7, 3, 5, 2, 3, 5, 3, 6, 5, 4, 3, 8, 2, 3, 5, 2, 3, 4],
 [1, 6, 2, 4, 4, 3, 2, 3, 4, 2, 4],
 [4, 5, 2, 4, 3, 5, 2, 4, 1, 4, 4, 2, 3, 4, 5, 3, 4, 3],
 [3,
  4,
  3,
  3,
  3,
  7,
  5,
  3,
  5,
  2,
  3,
  6,
  4,
  5,
  6,
  3,
  2,
  4,
  2,
  2,
  4,
  3,
  4,
  4,
  3,
  3]]

In [19]:
total_char[200:205]

[88, 85, 35, 62, 96]

Create columns named wrd_length and char_total filling in with the data created by the function and loop.

In [20]:
df_wizard['wrd_lengths'] = wrd_length

In [21]:
df_wizard['char_total'] = total_char

In [22]:
df_wizard.head()

,Sentences,wrd_lengths,char_total
0,Dorothy lived in the midst of the great Kansas...,"[7, 5, 2, 3, 5, 2, 3, 5, 6, 8, 4, 5, 5, 3, 3, ...",103
1,"Their\nhouse was small, for the lumber to buil...","[5, 5, 3, 5, 3, 3, 6, 2, 5, 2, 3, 2, 2, 7, 2, ...",69
2,"There were four walls, a floor and a roof, whi...","[5, 4, 4, 5, 1, 5, 3, 1, 4, 5, 4, 3, 4, 3, 4, ...",144
3,Uncle Henry\nand Aunt Em had a big bed in one ...,"[5, 5, 3, 4, 2, 3, 1, 3, 3, 2, 3, 6, 3, 7, 1, ...",75
4,"There was no garret at all, and no cellar--exc...","[5, 3, 2, 6, 2, 3, 3, 2, 6, 6, 1, 5, 4, 3, 2, ...",178

In [23]:
df_wizard.tail()

,Sentences,wrd_lengths,char_total
2211,"""Where in the world did you come from?""","[5, 2, 3, 5, 3, 3, 4, 4]",29
2212,"""From the Land of Oz,"" said Dorothy gravely.","[4, 3, 4, 2, 2, 4, 7, 7]",33
2213,"""And here is Toto, too.","[3, 4, 2, 4, 3]",16
2214,"And oh, Aunt Em!","[3, 2, 4, 2]",11
2215,"I'm so glad to be at home again!""","[1, 2, 2, 4, 2, 2, 2, 4, 5]",24

In [48]:
len(df_wizard['wrd_lengths'][0])

26

In [34]:
df_wizard.head()

,Sentences,wrd_lengths,char_total
0,Dorothy lived in the midst of the great Kansas...,"[7, 5, 2, 3, 5, 2, 3, 5, 6, 8, 4, 5, 5, 3, 3, ...",103
1,"Their\nhouse was small, for the lumber to buil...","[5, 5, 3, 5, 3, 3, 6, 2, 5, 2, 3, 2, 2, 7, 2, ...",69
2,"There were four walls, a floor and a roof, whi...","[5, 4, 4, 5, 1, 5, 3, 1, 4, 5, 4, 3, 4, 3, 4, ...",144
3,Uncle Henry\nand Aunt Em had a big bed in one ...,"[5, 5, 3, 4, 2, 3, 1, 3, 3, 2, 3, 6, 3, 7, 1, ...",75
4,"There was no garret at all, and no cellar--exc...","[5, 3, 2, 6, 2, 3, 3, 2, 6, 6, 1, 5, 4, 3, 2, ...",178

In [59]:
word_percent = []
def wrd_pattern(length, total):
    sent_wrd_pattern = []
    for l in length:
        wrd_ratio = float(l)/total
        sent_wrd_pattern.append(wrd_ratio)
    word_percent.append(sent_wrd_pattern)

In [60]:
i = 0
j = 0
for m in df_wizard['Sentences']:
    length = df_wizard['wrd_lengths'][i]
    i += 1
    total = df_wizard['char_total'][j]
    j += 1
    wrd_pattern(length, total)

In [61]:
len(word_percent)

2216

In [83]:
test = word_percent[:1]

In [80]:
print test

[[0.06796116504854369, 0.04854368932038835, 0.019417475728155338, 0.02912621359223301, 0.04854368932038835, 0.019417475728155338, 0.02912621359223301, 0.04854368932038835, 0.05825242718446602, 0.07766990291262135, 0.038834951456310676, 0.04854368932038835, 0.04854368932038835, 0.02912621359223301, 0.02912621359223301, 0.009708737864077669, 0.05825242718446602, 0.02912621359223301, 0.038834951456310676, 0.019417475728155338, 0.02912621359223301, 0.02912621359223301, 0.02912621359223301, 0.05825242718446602, 0.019417475728155338, 0.038834951456310676]]

In [84]:

for x in test:
    print x

[0.06796116504854369, 0.04854368932038835, 0.019417475728155338, 0.02912621359223301, 0.04854368932038835, 0.019417475728155338, 0.02912621359223301, 0.04854368932038835, 0.05825242718446602, 0.07766990291262135, 0.038834951456310676, 0.04854368932038835, 0.04854368932038835, 0.02912621359223301, 0.02912621359223301, 0.009708737864077669, 0.05825242718446602, 0.02912621359223301, 0.038834951456310676, 0.019417475728155338, 0.02912621359223301, 0.02912621359223301, 0.02912621359223301, 0.05825242718446602, 0.019417475728155338, 0.038834951456310676]

In [92]:
test2 = np.array(test)

print test2

[[ 0.06796117  0.04854369  0.01941748  0.02912621  0.04854369  0.01941748
   0.02912621  0.04854369  0.05825243  0.0776699   0.03883495  0.04854369
   0.04854369  0.02912621  0.02912621  0.00970874  0.05825243  0.02912621
   0.03883495  0.01941748  0.02912621  0.02912621  0.02912621  0.05825243
   0.01941748  0.03883495]]

In [93]:
np.sum(test2)

1.0

In [94]:
np.ediff1d(test2)

array([-0.01941748, -0.02912621,  0.00970874,  0.01941748, -0.02912621,
        0.00970874,  0.01941748,  0.00970874,  0.01941748, -0.03883495,
        0.00970874,  0.        , -0.01941748,  0.        , -0.01941748,
        0.04854369, -0.02912621,  0.00970874, -0.01941748,  0.00970874,
        0.        ,  0.        ,  0.02912621, -0.03883495,  0.01941748])

In [106]:
word_percent_array = []
for n in word_percent[:3]:
    n = np.array(n)
    print type(n)
    word_percent_array.append(n)

<type 'numpy.ndarray'>
<type 'numpy.ndarray'>
<type 'numpy.ndarray'>

In [111]:
for n in word_percent_array:
    print type(n)
    print np.sum(n)

<type 'numpy.ndarray'>
1.0
<type 'numpy.ndarray'>
1.0
<type 'numpy.ndarray'>
1.0

In [103]:
type(word_percent_array[:1])

list

In [97]:
print word_percent[:2]

[[0.06796116504854369, 0.04854368932038835, 0.019417475728155338, 0.02912621359223301, 0.04854368932038835, 0.019417475728155338, 0.02912621359223301, 0.04854368932038835, 0.05825242718446602, 0.07766990291262135, 0.038834951456310676, 0.04854368932038835, 0.04854368932038835, 0.02912621359223301, 0.02912621359223301, 0.009708737864077669, 0.05825242718446602, 0.02912621359223301, 0.038834951456310676, 0.019417475728155338, 0.02912621359223301, 0.02912621359223301, 0.02912621359223301, 0.05825242718446602, 0.019417475728155338, 0.038834951456310676], [0.07246376811594203, 0.07246376811594203, 0.043478260869565216, 0.07246376811594203, 0.043478260869565216, 0.043478260869565216, 0.08695652173913043, 0.028985507246376812, 0.07246376811594203, 0.028985507246376812, 0.043478260869565216, 0.028985507246376812, 0.028985507246376812, 0.10144927536231885, 0.028985507246376812, 0.07246376811594203, 0.057971014492753624, 0.07246376811594203]]

In [100]:
type(word_percent[:1])

list

In [ ]:
df_wizard['word_percent'] = wrd_percent