In [1]:
import csv
import pandas as pd
import sys

In [2]:
import requests
from bs4 import BeautifulSoup
r = requests.get('https://www.gutenberg.org/browse/scores/top')
b = BeautifulSoup(r.text, "lxml")

In [3]:
novel_numbers = []
for x in range(0,100):
    w = b.findAll('li')[int(x)].a['href'][8:]
    novel_numbers.append(w)

In [ ]:
for n in novel_numbers:
    print n

In [4]:
novel_names = []
for x in range(0,100):   
    t = b.findAll('li')[x].a
    n = t.contents
    n = n[0]
    n = n.replace('(', '')
    n = n.replace(')', '')
    no_dig = []
    for i in n:
        if not i.isdigit():
            no_dig.append(i)
    n = ''.join(no_dig) 
    novel_names.append(n)
for i in novel_names:
    if not i.isdigit():
        no_dig.append(i)

In [ ]:
novel_names

In [6]:
novel_numbersWriter = csv.writer(open('data/novel_key.csv', 'w'), delimiter=',')
for number in novel_numbers:
    novel_numbersWriter.writerow([number])

In [7]:
df_novels = pd.read_csv('data/novel_key.csv','w', header=None)

In [8]:
df_novels.head()

       0
0   1342
1     11
2    236
3  52082
4     76

In [12]:
df_novels.rename(columns={0:'novel_num'}, inplace=True)

In [13]:
df_novels.head()

   novel_num                                              Title
0       1342                Pride and Prejudice by Jane Austen
1         11  Alice's Adventures in Wonderland by Lewis Carr...
2        236                The Jungle Book by Rudyard Kipling
3      52082             German Atrocities by William Le Queux
4         76      Adventures of Huckleberry Finn by Mark Twain

In [9]:
title = []
for n in novel_names:
    t = n.encode('utf-8')
    title.append(t)

In [ ]:
title

In [10]:
df_novels['Title'] = title

In [11]:
df_novels.head()

       0                                              Title
0   1342                Pride and Prejudice by Jane Austen
1     11  Alice's Adventures in Wonderland by Lewis Carr...
2    236                The Jungle Book by Rudyard Kipling
3  52082             German Atrocities by William Le Queux
4     76      Adventures of Huckleberry Finn by Mark Twain

In [63]:
df_novels.tail()

    novel_num                                              Title
95        730                   Oliver Twist by Charles Dickens
96         20                      Paradise Lost by John Milton
97       2000       Don Quijote by Miguel de Cervantes Saavedra
98      25717  The History Of The Decline And Fall Of The Rom...
99      34901                    On Liberty by John Stuart Mill

In [15]:
df_novels.to_csv('data/novel_key.csv', index=False)

In [16]:
df_novels['Title'][0]

'Pride and Prejudice by Jane Austen '

In [ ]:
df_novels.head()

In [17]:
key = pd.read_csv('data/novel_key.csv')

In [18]:
key.head()

   novel_num                                              Title
0       1342                Pride and Prejudice by Jane Austen
1         11  Alice's Adventures in Wonderland by Lewis Carr...
2        236                The Jungle Book by Rudyard Kipling
3      52082             German Atrocities by William Le Queux
4         76      Adventures of Huckleberry Finn by Mark Twain

In [19]:
key['novel_num'][:3]

0    1342
1      11
2     236
Name: novel_num, dtype: int64

In [20]:
key['Title'][0]

'Pride and Prejudice by Jane Austen '