In [1]:
import csv
import pandas as pd
import sys

In [3]:
import requests
from bs4 import BeautifulSoup
r = requests.get('https://www.gutenberg.org/browse/scores/top')
b = BeautifulSoup(r.text, "lxml")

In [4]:
novel_numbers = []
for x in range(0,100):
    w = b.findAll('li')[int(x)].a['href'][8:]
    novel_numbers.append(w)

In [5]:
for n in novel_numbers:
    print n

1342
11
1661
52257
52247
76
5200
236
98
52251
27827
844
2701
30254
52256
345
4300
158
2591
84
1952
174
1400
2600
74
52245
1232
1260
2542
52250
52255
135
16
1184
52248
100
946
1322
16328
768
52254
5740
1497
244
30360
1080
120
12
2500
52228
23
521
52249
28054
30601
2554
52240
1112
161
829
42
3672
46
35
14264
851
51728
20203
219
2814
18251
33283
52246
52252
45
4363
10
1399
863
2148
308
8800
55
52244
52263
52242
3600
730
25717
996
526
52258
205
3207
514
2147
766
52225
6130
2413

In [6]:
novel_names = []
for x in range(0,100):   
    t = b.findAll('li')[x].a
    n = t.contents
    n = n[0]
    n = n.replace('(', '')
    n = n.replace(')', '')
    no_dig = []
    for i in n:
        if not i.isdigit():
            no_dig.append(i)
    n = ''.join(no_dig) 
    novel_names.append(n)
for i in novel_names:
    if not i.isdigit():
        no_dig.append(i)

In [7]:
novel_names

[u'Pride and Prejudice by Jane Austen ',
 u"Alice's Adventures in Wonderland by Lewis Carroll ",
 u'The Adventures of Sherlock Holmes by Arthur Conan Doyle ',
 u'When Sarah Saved the Day by Elsie Singmaster ',
 u'A Man from the North by Arnold Bennett ',
 u'Adventures of Huckleberry Finn by Mark Twain ',
 u'Metamorphosis by Franz Kafka ',
 u'The Jungle Book by Rudyard Kipling ',
 u'A Tale of Two Cities by Charles Dickens ',
 u'Constantinople, Vol. II of  by Edmondo De Amicis ',
 u'The Kama Sutra of Vatsyayana by Vatsyayana ',
 u'The Importance of Being Earnest: A Trivial Comedy for Serious People by Oscar Wilde ',
 u'Moby Dick; Or, The Whale by Herman Melville ',
 u'The Romance of Lust: A Classic Victorian erotic novel by Anonymous ',
 u'The Lead Pencil Manufactory of A. W. Faber at Stein near N\xfcrnberg, Bavaria by A. W. Faber ',
 u'Dracula by Bram Stoker ',
 u'Ulysses by James Joyce ',
 u'Emma by Jane Austen ',
 u"Grimms' Fairy Tales by Jacob Grimm and Wilhelm Grimm ",
 u'Frankenstein; Or, The Modern Prometheus by Mary Wollstonecraft Shelley ',
 u'The Yellow Wallpaper by Charlotte Perkins Gilman ',
 u'The Picture of Dorian Gray by Oscar Wilde ',
 u'Great Expectations by Charles Dickens ',
 u'War and Peace by graf Leo Tolstoy ',
 u'The Adventures of Tom Sawyer by Mark Twain ',
 u'Where Science and Religion Meet by William Scott Palmer ',
 u'Il Principe. English by Niccol\xf2 Machiavelli ',
 u'Jane Eyre: An Autobiography by Charlotte Bront\xeb ',
 u"A Doll's House : a play by Henrik Ibsen ",
 u"A Nurse's Life in War and Peace by Eleanor Constance Laurence ",
 u'The Brownie Scouts and Their Tree House by Mildred A.  Wirt ',
 u'Les Mis\xe9rables by Victor Hugo ',
 u'Peter Pan by J. M.  Barrie ',
 u'The Count of Monte Cristo, Illustrated by Alexandre Dumas ',
 u'Across South America by Hiram Bingham ',
 u'The Complete Works of William Shakespeare by William Shakespeare ',
 u'Lady Susan by Jane Austen ',
 u'Leaves of Grass by Walt Whitman ',
 u'Beowulf ',
 u'Wuthering Heights by Emily Bront\xeb ',
 u'The Brownie Scouts at Windmill Farm by Mildred A.  Wirt ',
 u'Tractatus Logico-Philosophicus by Ludwig Wittgenstein ',
 u'The Republic by Plato ',
 u'A Study in Scarlet by Arthur Conan Doyle ',
 u'My Secret Life, Volumes I. to III. by Anonymous ',
 u'A Modest Proposal by Jonathan Swift ',
 u'Treasure Island by Robert Louis Stevenson ',
 u'Through the Looking-Glass by Lewis Carroll ',
 u'Siddhartha by Hermann Hesse ',
 u'Search the Sky by C. M.  Kornbluth and Frederik Pohl ',
 u'Narrative of the Life of Frederick Douglass, an American Slave by Frederick Douglass ',
 u'The Life and Adventures of Robinson Crusoe by Daniel Defoe ',
 u"Historical Record of the Third or Princes of Wales' Regiment of Dragoon Guards: From Its Formation i ",
 u'The Brothers Karamazov by Fyodor Dostoyevsky ',
 u'How to Analyze People on Sight by Elsie Lincoln Benedict and Ralph Paine Benedict ',
 u'Prestuplenie i nakazanie. English by Fyodor Dostoyevsky ',
 u'The Inner Flame by Clara Louise Burnham ',
 u'The Tragedy of Romeo and Juliet by William Shakespeare ',
 u'Sense and Sensibility by Jane Austen ',
 u"Gulliver's Travels into Several Remote Nations of the World by Jonathan Swift ",
 u'The Strange Case of Dr. Jekyll and Mr. Hyde by Robert Louis Stevenson ',
 u'The  CIA World Factbook by United States. Central Intelligence Agency ',
 u'A Christmas Carol in Prose; Being a Ghost Story of Christmas by Charles Dickens ',
 u'The Time Machine by H. G.  Wells ',
 u'The Practice and Science of Drawing by Harold Speed ',
 u'Narrative of the Captivity and Restoration of Mrs. Mary Rowlandson by Mary White Rowlandson ',
 u'Constantinople, Vol. I of  by Edmondo De Amicis ',
 u'Autobiography of Benjamin Franklin by Benjamin Franklin ',
 u'Heart of Darkness by Joseph Conrad ',
 u'Dubliners by James Joyce ',
 u"Latin for Beginners by Benjamin L.  D'Ooge ",
 u'Calculus Made Easy by Silvanus P.  Thompson ',
 u'Boswell the Biographer by George Herbert Leigh Mallory ',
 u'Spanish and Portuguese South America during the Colonial Period; Vol.  of  by Robert Grant Watson ',
 u'Anne of Green Gables by L. M.  Montgomery ',
 u'Beyond Good and Evil by Friedrich Wilhelm Nietzsche ',
 u'The King James Version of the Bible ',
 u'Anna Karenina by graf Leo Tolstoy ',
 u'The Mysterious Affair at Styles by Agatha Christie ',
 u'The Works of Edgar Allan Poe \u2014 Volume  by Edgar Allan Poe ',
 u'Three Men in a Boat by Jerome K.  Jerome ',
 u'The Divine Comedy by Dante, Illustrated by Dante Alighieri ',
 u'The Wonderful Wizard of Oz by L. Frank  Baum ',
 u'Mail Carrying Railways Underpaid by Committee on Railway Mail Pay ',
 u'The Twilight of the Idols - The Antichrist by Friedrich Wilhelm Nietzsche ',
 u'The Life of Tolstoy: First Fifty Years by Aylmer Maude ',
 u'Essays of Michel de Montaigne \u2014 Complete by Michel de Montaigne ',
 u'Oliver Twist by Charles Dickens ',
 u'The History Of The Decline And Fall Of The Roman Empire by Edward Gibbon ',
 u'Don Quixote by Miguel de Cervantes Saavedra ',
 u'Heart of Darkness by Joseph Conrad ',
 u'History of the Royal Regiment of Artillery, Vol.  by Francis Duncan ',
 u'Walden, and On The Duty Of Civil Disobedience by Henry David Thoreau ',
 u'Leviathan by Thomas Hobbes ',
 u'Little Women by Louisa May Alcott ',
 u'The Works of Edgar Allan Poe \u2014 Volume  by Edgar Allan Poe ',
 u'David Copperfield by Charles Dickens ',
 u'The Temptation of St. Anthony by Gustave Flaubert ',
 u'The Iliad by Homer ',
 u'Madame Bovary by Gustave Flaubert ']

In [10]:
novel_numbersWriter = csv.writer(open('data/novel_key.csv', 'w'), delimiter=',')
for number in novel_numbers:
    novel_numbersWriter.writerow([number])

In [11]:
df_novels = pd.read_csv('data/novel_key.csv','w', header=None)

In [12]:
df_novels.head()

       0
0   1342
1     11
2   1661
3  52257
4  52247

In [13]:
df_novels.rename(columns={0:'novel_num'}, inplace=True)

In [14]:
df_novels.head()

   novel_num
0       1342
1         11
2       1661
3      52257
4      52247

In [22]:
title = []
for n in novel_names:
    t = n.encode('utf-8')
    title.append(t)

In [23]:
title

['Pride and Prejudice by Jane Austen ',
 "Alice's Adventures in Wonderland by Lewis Carroll ",
 'The Adventures of Sherlock Holmes by Arthur Conan Doyle ',
 'When Sarah Saved the Day by Elsie Singmaster ',
 'A Man from the North by Arnold Bennett ',
 'Adventures of Huckleberry Finn by Mark Twain ',
 'Metamorphosis by Franz Kafka ',
 'The Jungle Book by Rudyard Kipling ',
 'A Tale of Two Cities by Charles Dickens ',
 'Constantinople, Vol. II of  by Edmondo De Amicis ',
 'The Kama Sutra of Vatsyayana by Vatsyayana ',
 'The Importance of Being Earnest: A Trivial Comedy for Serious People by Oscar Wilde ',
 'Moby Dick; Or, The Whale by Herman Melville ',
 'The Romance of Lust: A Classic Victorian erotic novel by Anonymous ',
 'The Lead Pencil Manufactory of A. W. Faber at Stein near N\xc3\xbcrnberg, Bavaria by A. W. Faber ',
 'Dracula by Bram Stoker ',
 'Ulysses by James Joyce ',
 'Emma by Jane Austen ',
 "Grimms' Fairy Tales by Jacob Grimm and Wilhelm Grimm ",
 'Frankenstein; Or, The Modern Prometheus by Mary Wollstonecraft Shelley ',
 'The Yellow Wallpaper by Charlotte Perkins Gilman ',
 'The Picture of Dorian Gray by Oscar Wilde ',
 'Great Expectations by Charles Dickens ',
 'War and Peace by graf Leo Tolstoy ',
 'The Adventures of Tom Sawyer by Mark Twain ',
 'Where Science and Religion Meet by William Scott Palmer ',
 'Il Principe. English by Niccol\xc3\xb2 Machiavelli ',
 'Jane Eyre: An Autobiography by Charlotte Bront\xc3\xab ',
 "A Doll's House : a play by Henrik Ibsen ",
 "A Nurse's Life in War and Peace by Eleanor Constance Laurence ",
 'The Brownie Scouts and Their Tree House by Mildred A.  Wirt ',
 'Les Mis\xc3\xa9rables by Victor Hugo ',
 'Peter Pan by J. M.  Barrie ',
 'The Count of Monte Cristo, Illustrated by Alexandre Dumas ',
 'Across South America by Hiram Bingham ',
 'The Complete Works of William Shakespeare by William Shakespeare ',
 'Lady Susan by Jane Austen ',
 'Leaves of Grass by Walt Whitman ',
 'Beowulf ',
 'Wuthering Heights by Emily Bront\xc3\xab ',
 'The Brownie Scouts at Windmill Farm by Mildred A.  Wirt ',
 'Tractatus Logico-Philosophicus by Ludwig Wittgenstein ',
 'The Republic by Plato ',
 'A Study in Scarlet by Arthur Conan Doyle ',
 'My Secret Life, Volumes I. to III. by Anonymous ',
 'A Modest Proposal by Jonathan Swift ',
 'Treasure Island by Robert Louis Stevenson ',
 'Through the Looking-Glass by Lewis Carroll ',
 'Siddhartha by Hermann Hesse ',
 'Search the Sky by C. M.  Kornbluth and Frederik Pohl ',
 'Narrative of the Life of Frederick Douglass, an American Slave by Frederick Douglass ',
 'The Life and Adventures of Robinson Crusoe by Daniel Defoe ',
 "Historical Record of the Third or Princes of Wales' Regiment of Dragoon Guards: From Its Formation i ",
 'The Brothers Karamazov by Fyodor Dostoyevsky ',
 'How to Analyze People on Sight by Elsie Lincoln Benedict and Ralph Paine Benedict ',
 'Prestuplenie i nakazanie. English by Fyodor Dostoyevsky ',
 'The Inner Flame by Clara Louise Burnham ',
 'The Tragedy of Romeo and Juliet by William Shakespeare ',
 'Sense and Sensibility by Jane Austen ',
 "Gulliver's Travels into Several Remote Nations of the World by Jonathan Swift ",
 'The Strange Case of Dr. Jekyll and Mr. Hyde by Robert Louis Stevenson ',
 'The  CIA World Factbook by United States. Central Intelligence Agency ',
 'A Christmas Carol in Prose; Being a Ghost Story of Christmas by Charles Dickens ',
 'The Time Machine by H. G.  Wells ',
 'The Practice and Science of Drawing by Harold Speed ',
 'Narrative of the Captivity and Restoration of Mrs. Mary Rowlandson by Mary White Rowlandson ',
 'Constantinople, Vol. I of  by Edmondo De Amicis ',
 'Autobiography of Benjamin Franklin by Benjamin Franklin ',
 'Heart of Darkness by Joseph Conrad ',
 'Dubliners by James Joyce ',
 "Latin for Beginners by Benjamin L.  D'Ooge ",
 'Calculus Made Easy by Silvanus P.  Thompson ',
 'Boswell the Biographer by George Herbert Leigh Mallory ',
 'Spanish and Portuguese South America during the Colonial Period; Vol.  of  by Robert Grant Watson ',
 'Anne of Green Gables by L. M.  Montgomery ',
 'Beyond Good and Evil by Friedrich Wilhelm Nietzsche ',
 'The King James Version of the Bible ',
 'Anna Karenina by graf Leo Tolstoy ',
 'The Mysterious Affair at Styles by Agatha Christie ',
 'The Works of Edgar Allan Poe \xe2\x80\x94 Volume  by Edgar Allan Poe ',
 'Three Men in a Boat by Jerome K.  Jerome ',
 'The Divine Comedy by Dante, Illustrated by Dante Alighieri ',
 'The Wonderful Wizard of Oz by L. Frank  Baum ',
 'Mail Carrying Railways Underpaid by Committee on Railway Mail Pay ',
 'The Twilight of the Idols - The Antichrist by Friedrich Wilhelm Nietzsche ',
 'The Life of Tolstoy: First Fifty Years by Aylmer Maude ',
 'Essays of Michel de Montaigne \xe2\x80\x94 Complete by Michel de Montaigne ',
 'Oliver Twist by Charles Dickens ',
 'The History Of The Decline And Fall Of The Roman Empire by Edward Gibbon ',
 'Don Quixote by Miguel de Cervantes Saavedra ',
 'Heart of Darkness by Joseph Conrad ',
 'History of the Royal Regiment of Artillery, Vol.  by Francis Duncan ',
 'Walden, and On The Duty Of Civil Disobedience by Henry David Thoreau ',
 'Leviathan by Thomas Hobbes ',
 'Little Women by Louisa May Alcott ',
 'The Works of Edgar Allan Poe \xe2\x80\x94 Volume  by Edgar Allan Poe ',
 'David Copperfield by Charles Dickens ',
 'The Temptation of St. Anthony by Gustave Flaubert ',
 'The Iliad by Homer ',
 'Madame Bovary by Gustave Flaubert ']

In [24]:
df_novels['Title'] = title

In [25]:
df_novels.head()

   novel_num                                              Title
0       1342                Pride and Prejudice by Jane Austen
1         11  Alice's Adventures in Wonderland by Lewis Carr...
2       1661  The Adventures of Sherlock Holmes by Arthur Co...
3      52257      When Sarah Saved the Day by Elsie Singmaster
4      52247            A Man from the North by Arnold Bennett

In [26]:
df_novels.tail()

    novel_num                                              Title
95       2147  The Works of Edgar Allan Poe — Volume  by Edga...
96        766              David Copperfield by Charles Dickens
97      52225  The Temptation of St. Anthony by Gustave Flaub...
98       6130                                The Iliad by Homer
99       2413                 Madame Bovary by Gustave Flaubert

In [27]:
df_novels.to_csv('data/novel_key.csv', index=False)

In [28]:
df_novels['Title'][0]

'Pride and Prejudice by Jane Austen '

In [29]:
df_novels.head()

   novel_num                                              Title
0       1342                Pride and Prejudice by Jane Austen
1         11  Alice's Adventures in Wonderland by Lewis Carr...
2       1661  The Adventures of Sherlock Holmes by Arthur Co...
3      52257      When Sarah Saved the Day by Elsie Singmaster
4      52247            A Man from the North by Arnold Bennett

In [30]:
key = pd.read_csv('data/novel_key.csv')

In [31]:
key.head()

   novel_num                                              Title
0       1342                Pride and Prejudice by Jane Austen
1         11  Alice's Adventures in Wonderland by Lewis Carr...
2       1661  The Adventures of Sherlock Holmes by Arthur Co...
3      52257      When Sarah Saved the Day by Elsie Singmaster
4      52247            A Man from the North by Arnold Bennett

In [32]:
key['novel_num'][:3]

0    1342
1      11
2    1661
Name: novel_num, dtype: int64

In [33]:
key['Title'][0]

'Pride and Prejudice by Jane Austen '

In [39]:
with open('data/novel_key.csv', 'r') as csvfile:
    #with open('../data/test_list.csv') as csvfile:
        listreader = csv.reader(csvfile.read().splitlines())
        for row in listreader:
            nv = row[0]
            print nv

1342
11
1661
52257
52247
76
5200
236
98
52251
27827
844
2701
30254
52256
345
4300
158
2591
84
1952
174
1400
2600
74
52245
1232
1260
2542
52250
52255
135
16
1184
52248
100
946
1322
16328
768
52254
5740
1497
244
30360
1080
120
12
2500
52228
23
521
52249
28054
30601
2554
52240
1112
161
829
42
3672
46
35
14264
851
51728
20203
219
2814
18251
33283
52246
52252
45
4363
10
1399
863
2148
308
8800
55
52244
52263
52242
3600
730
25717
996
526
52258
205
3207
514
2147
766
52225
6130
2413